{% extends 'layout.twig' %}

  {% block stylesheets %}
      <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
      <link rel="stylesheet" href="/stylesheets/main.css" />
      <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.dataTables.min.css">
      <noscript><link rel="stylesheet" href="/stylesheets/noscript.css" /></noscript>
  {% endblock %}

{% block body %}

    <div id="wrapper">

    <header id="header">
        <div class="inner">

            <a href="fichiersHtml/index.html" class="logo">
                <span class="fa fa-plane"></span> <span class="title">The continental</span>
            </a>

            <nav>
                <ul>
                    <li><a href="#menu">Menu</a></li>
                </ul>
            </nav>

        </div>
    </header>

    <nav id="menu">
        <h2>Menu</h2>
        <ul>
            <li><a href="fichiersHtml/index.html">Home</a></li>

            <li><a href="fichiersHtml/packages.html" class="active">Packages</a></li>

            <li><a href="fichiersHtml/blog.html">Blog</a></li>

            <li>
                <a href="#" class="dropdown-toggle">About</a>

                <ul>
                    <li><a href="fichiersHtml/about.html">About Us</a></li>
                    <li><a href="fichiersHtml/testimonials.html">Testimonials</a></li>
                    <li><a href="fichiersHtml/terms.html">Terms</a></li>
                </ul>
            </li>
            <li><a href="fichiersHtml/contact.html">Contact Us</a></li>
        </ul>
    </nav>
    <div id="main">
    <div class="inner">
    <h3>Gestion des circuits <span class="pull-right" style="color: #148599">Affichage de tout les circuits</span></h3>

    <div class="container-fluid">
 <section>
            <form id ="formulaire2" >
				<div class="fields">
                    <div class="field quarter">
                        <SELECT name="depart" id="depart" size="1">
                             <OPTION>tunis
                             <OPTION>monastir
                             <OPTION>hammamet
                             <OPTION>sousse
                             <OPTION>nebel
                              <OPTION>tabarka
                              <OPTION>kelibia
                        </SELECT>
                    </div>
                    <div class="field half">
                    <button class="btn btn-outline-info" type="submit" >chercher</button>
                </div>
            </form>
       </section>
 <section>
            <form id ="formulaire3" >
            				<div class="fields">
                                <div class="field quarter">
                                    <SELECT name="arrive" id="arrive" size="1">
                                         <OPTION>tunis
                                         <OPTION>monastir
                                         <OPTION>hammamet
                                         <OPTION>sousse
                                         <OPTION>nebel
                                          <OPTION>tabarka
                                          <OPTION>kelibia
                                    </SELECT>
                                </div>
                                <div class="field half">
                                <button class="btn btn-outline-info" type="submit" >chercher</button>
                                </div>
                            </div>
                        </form>
        </section>
    <div class="table-responsive">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" id="tab" class="table">
            <thead id="head">
            <tr>
                <th>Nom circuit</th>
                <th>depart</th>
                <th>arrive</th>
                <th>longeur</th>
                <th>duree</th>
            </tr>
            </thead>
            {% if circuits|length == 0 %}
            Il n'y a aucun circuit à afficher.
            {% else %}

            <tbody>
                {% for circuit in circuits %}
            <tr>
                <td>{{ circuit.nom }}</td>
                <td>{{ circuit.depart }}</td>
                <td>{{ circuit.arrive }}</td>
                <td>{{ circuit.longeur }}</td>
                <td>{{ circuit.duree }}</td>
                <td> <button class="btn btn-outline-danger" onclick="deleteOne({{circuit.id}})" >remove </button></td>
                <td> <button class="btn btn-outline-primary" onclick="findOne({{ circuit.id }})">details </button></td>
            </tr>
                {% endfor %}
            </tbody>
            {% endif %}
        </table></div>
        <div style="text-align: center;">
     <td> <button class="btn btn-outline-danger" onclick="deleteall()">remove all</button></td>
     <td> <button class="btn btn-outline-success"  onclick="addCircuit()"  >add circuit</button></td>

</div>

<br>
<br>

</div></div></div>











 {% endblock %}

  {% block javascriptsAtTheEnd %}
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/jquery.scrolly.min.js"></script>
    <script src="/javascripts/jquery.scrollex.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <script type="text/javascript" src='/javascripts/jquery.js'></script>
    <script type="text/javascript" src="/javascripts/jquery.dataTables.min.js"></script>


<script>

function deleteOne (id){
$.ajax({
			type: 'delete',
			url: "http://localhost:3000/circuit/deleteOne/"+id,
			dataType: 'json',
			async: false,
			success: (result) => {
			}
})
location.reload()
}
/*
function findOne (id){
location.href="http://localhost:3000/circuit/findOne/"+id
}
*/
function findOne (id){

location.href="http://localhost:3000/circuit/findOne/"+id
}
function deleteall(){

$.ajax({
			type: 'delete',
			url: "http://localhost:3000/circuit/deleteAll",
			dataType: 'json',
			async: false,
			success: (result) => {
			}
    })

location.href="http://localhost:3000/circuit/all"
}
function addCircuit (){
location.href="http://localhost:3000/circuit/form"
}

/*function updateone(id){
location.href="http://localhost:3000/circuit/form"
}

  $(document).ready(function () {
    $('#tab').DataTable();
});*/
/*
 function updateOne(id){
        $.ajax({
            type: 'put',
            url: "http://localhost:3000/circuit/updateCircuit/"+id,
            data:{
                longeur: $('#nombreT').val(),
                duree: $('#nombreF').val()
            },
            dataType: 'json',
            async: false,
            success: (result) => {
             //   location.href="http://localhost:3000/circuit/findOne/"+id
            }
        })
        location.reload()
    }
*/
</script>


{% endblock %}